.select2-container { width:100% !important; }

.ajax_content .breadcrumb,
/*.ajax_content .panel-heading ,*/
.ajax_content .page-header{
	display:none;
}
.ajax_content .panel-heading {
	/*padding-left:0px;*/
	/*padding-right:0px;*/
	/*padding-bottom:7px;*/
	/*border-bottom:1px solid #e5e5e5;*/
	/*margin-bottom:10px;*/
	/*color:#242a30;*/
	/*background:none;*/

	background: #e9edef;
	border-color: #e9edef;
	color: #5b6165;
}
.ajax_content .panel-title {
	/*font-size:18px;*/
}
.ajax_content .panel {
	/*margin-bottom: 0px;*/
	box-shadow:none;
	-webkit-box-shadow:none;
}
.ajax_content .panel-body {
	padding: 0px;
	padding-top:10px;
	/*padding-bottom:10px;*/
	/*padding-top: 0px;*/
	/*padding-bottom: 0px;*/
}

.ajax_content label {
	text-align:right !important;
}

.select2-dropdown {
	z-index:9001 !important;
}

.content {
	padding-bottom:40px;
}

table.table-condensed-xtra th, table.table-condensed-xtra td {
	padding-left:5px !important;
	padding-right:5px !important;
}

/* D A T A T A B L E S */

#data-table_processing {
	border:1px solid #e5e5e5;
	background-color:#000000;
	color:#ffffff;
	top:80px;
}

.container-fluid {
	padding-right:0px !important;
	padding-left:0px !important;
}

/* M O D A L  W I N D O W S */

.select2-dropdown, body .daterangepicker{
	z-index: 1060 !important;
}

/* J Q U E R Y  A U T O C O M P L E T E */
.ui-autocomplete { z-index:2147483647; }

.datetimepicker_pos {
	position:relative !important;
}

.select2-selection__clear{
	margin-right:5px;
}

.modal-80 {
	max-width:80%;
}

.modal-60 {
	max-width:60%;
}

/* D R O P Z O N E */
.dropzone .dz-preview.dz-file-preview .dz-image {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	border:1px solid #dcdcdc;
}