.content.has-bg .content-bg:before {
    /*background:rgba(235, 173, 21, 0.8);*/
    background:none;
    /*background:rgba(217, 196, 0, 0.84);*/  /* yellow */
    /*background:rgba(52, 143, 226, 0.74);  !* blue *!*/
    /*background:rgba(255, 217, 0, 0.84);*/
}

.first-cap:first-letter {
    font-size: 40px;
    line-height:40px;
    float: left;
    font-weight:bold;
    margin-top:-3px;
}

h1, h2, h3{
    /*color:rgba(0,0,0,0.75);*/
    color:#242a30 !important;  /* gray */

}

.has-bg h1, .has-bg h2, .has-bg h3 {
    color:#ffffff !important;  /* gray */
}

h3 {
    font-weight:400 !important;
}
.footer {
    text-align:left !important;
}

.pricing-table .price .price-figure {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 100px;
}

#pricing h3 {
    color:#ffffff !important;
}

.milestone .number {
    /*color:#D9C400;*/
    color:#ffffff;
    font-weight: normal;
    font-size: 70px;
}


#milestone .title {
    /*color:#242a30;*/
    color:#ffffff;
    font-weight:700;
    font-size:18px;
}

.discount{ display:none !important; }
.item-desc{ display:none !important; }
.item-discount-price{ display:none !important; }
.item.item-thumbnail .item-image{
    padding:5px;
    background-color:#f0f3f4;
}
.promotion {
    margin-bottom:10px;
    height:180px;
    overflow:hidden;

    position: relative;
}
.promotion a:hover {
    /*color:#ffd900;*/
    color:#ffffff;
    font-weight:600;
}
.promotion a {
    /*color:#ffd900;*/
    color:#ffffff;
}
.promotion-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding:0px;
}
.promotion-caption h4 {
    text-shadow: 1px 1px 0 black;
    background-color:rgba(0, 0, 0, 0.7);
    margin-top:138px;
    padding-top:5px;
    padding-right:10px;
    height:80px;
    transition: .3s ease;
}

.promotion-caption:hover h4{
    margin-top:110px;
    padding-top:15px;
    padding-right:10px;
    padding-right:20px;

    background-color:rgba(0, 0, 0, 0.7);
}

.promotion-btn {
    padding: 5px 10px;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
}

.promotion-btn {
    border-color: #fff;
    color: #fff;
    text-decoration: none;
    background: #000;
    transition: .3s ease;
}

.promotion-btn:hover {
    border-color: #000;
    color: #000;
    text-decoration: none;
    background: #fff;
}

.column_4 .item {
    margin-top:10px;
}

.promotion-image {
    height:100%;
}
.promotion-image img {
    width:100%;
}

.video-dialog {
    max-width:60% !important;
}

.img_equipment{
    margin-top:-15px;
}
.img_montacargas{
    margin-top:-20px;
}
.img_industrial{
    margin-top:-40px;
}
.img_otros{
    margin-top:-52px;
}

@media (min-width:1920px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:-110px;*/
        /*min-width:1330px;*/
        min-height:480px;
    }
    .promotion-image img {
        width:100%;
    }
    /*.logotop img {*/
    /*max-height:90px;*/
    /*}*/
}
@media (min-width:1200px) {
    .img_equipment{
        margin-top:-40px;
    }
    .logotop img {
        max-height:80px;
    }
}
@media (max-width:1190px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:-50px;*/
        /*min-width:1330px;*/
        min-height:411px;
    }
    .logotop img {
        max-height:90px;
    }
    .header .nav.navbar-nav .nav-item .nav-link {
        padding: .625rem .71rem;
    }
}
@media (max-width:1200px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:-50px;*/
        /*min-width:1330px;*/
        min-height:340px;
    }


    .img_montacargas{
        margin-top:-10px;
    }
    .img_industrial{
        margin-top:0px;
    }
    .img_otros{
        margin-top:-20px;
    }
    .logotop img {
        max-height:69px;
    }
}
@media (max-width:992px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:-50px;*/
        /*min-width:1330px;*/
        min-height:260px;
    }

    .promotion {
        height:137px;
    }

    .promotion-caption h4 {
        margin-top:100px;
    }
    .promotion-caption:hover h4{
        margin-top:80px;
    }
    .img_otros{
        margin-top:-10px;
    }

}
@media (max-width:892px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:-20px;*/
        /*min-width:1330px;*/
        min-height:260px;
    }
}
@media (max-width:769px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:50px;*/
    }
    .carousel .carousel-caption, .carousel .carousel-caption.carousel-caption-left, .carousel .carousel-caption.carousel-caption-right {
        background:none !important;
    }

    .home .home-content .btn+.btn {
        margin-left:0px;
        /*margin-top:20px;*/
    }
    .img_otros{
        margin-top:-30px;
    }

    .logotop {
        margin-left:10px;
    }

}
@media (max-width:560px) {
    .carousel .carousel-inner,
    .carousel .carousel-inner .item,
    .slider .carousel  {
        /*margin-top:50px;*/
        /*width:160%;*/
        min-height:176px;
    }
    /*.promotion {*/
    /*padding-top:124px !important;*/
    /*}*/
    /*.promotion-caption:hover {*/
    /*margin-top:69px;*/
    /*}*/
    /*.promotion-caption h4 {*/
    /*margin-top:0px;*/
    /*padding-top:5px;*/
    /*height:60px;*/
    /*transition: .3s ease;*/
    /*}*/
    /*.promotion-image {*/
    /*max-width:100%;*/
    /*}*/

    .home .home-content .btn+.btn {
        margin-left:0px;
        margin-top:20px;
    }


    .promotion {
        height:110px;
    }

    .promotion-caption h4 {
        margin-top:70px;
        height:100px;
    }
    .promotion-caption:hover h4{
        margin-top:50px;
    }
    .promotion-caption {
        height: 110px;
        overflow: hidden;
    }

    .video-dialog {
        max-width:100% !important;
    }

    .img_otros{
        margin-top:-45px;
    }

}

a.nav-link {
    text-transform: uppercase;
}


.progress .progress-bar .progress-number {
    background: none;
    margin-bottom: 0px;
    text-align: right;
    position: relative;
    margin-top: 30px;
    font-weight:bold;
}
.progress .progress-bar .progress-number:before {
    display:none;
}

.content .content-desc{
    font-size:16px;
}

.home-content .btn {
    width:250px;
}


/*.topbar_black {*/
/*background-color:#000000;*/
/*height:40px;*/
/*display: block;*/
/*position: relative;*/
/*width:100%;*/
/*}*/

.top-nav {
    background: #242A30;
    z-index: 1040;
    width:100%;
}
.header, .top-nav {
    position: relative;
}

.header.navbar-fixed-top{
    flex-direction:column;
}

.login-input {
    padding:5px;
    border: 1px solid #e5e5e5;
    width:90%;
    margin-top:10px;
}
::placeholder {
    color:#7a7a7a;
}


.top-nav .nav>li>a {
    font-size: 12px;
    padding: 10px;
    -webkit-transition: opacity .2s cubic-bezier(.6,.045,.4,1);
    -moz-transition: opacity .2s cubic-bezier(.6,.045,.4,1);
    transition: opacity .2s cubic-bezier(.6,.045,.4,1);
}
.top-nav .dropdown-menu>li>a, .top-nav .nav>li>a {
    line-height: 20px;
    color: #ffffff !important;
    text-decoration: none;
}

.top-nav .dropdown-menu>li>a, .top-nav .nav>li>a:hover {
    background-color:#242A30;

}

.top-nav .dropdown-menu>li>a, .top-nav .nav>li>a {

}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    padding-top:10px;
    background: #2d353c;
}
.navbar-expand-lg .navbar-nav .dropdown-menu li {
    padding:10px 20px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu li:hover {
    background-color:#242A30;
}

.content-bg.bge2:before {
    background: rgba(52, 143, 226, 0.74) !important;
}

.quote {
    font-weight: 400;
}
.quote small {
    font-weight: 600;
}

@media (min-width:990px) {
    .mobile_announce {
        display:none !important;
    }
}
.mobile_login {
    font-weight:bold;
    background: rgb(253,226,72) !important;
    background: -moz-linear-gradient(top, rgba(253,226,72,1) 0%, rgba(255,217,0,1) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(253,226,72,1) 0%,rgba(255,217,0,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(253,226,72,1) 0%,rgba(255,217,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde248', endColorstr='#ffd900',GradientType=0 ) !important;
}

.newsletter_email {
    width: calc(100% - 80px);
    border: none;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 15px;
}

.newsletter_description {
    color:#ffffff !important;
    /*font-weight:bold;*/
    padding:15px;
    font-size:16px;
}