.select2-container { width:100% !important; margin-top:0px !important; }

.ajax_content .breadcrumb,
.ajax_content .page-header,
.ajax_content .panel-heading {
	display:none;
}
.ajax_content .panel {
	margin-bottom: 0px;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.ajax_content .panel-body {
	padding: 0px;
	/*padding-top: 0px;*/
	/*padding-bottom: 0px;*/
}

.select2-dropdown {
	z-index:9001 !important;
}
.select2 .selection{
	text-align:left !important;
}

.content {
	padding-bottom:40px;
}

table.table-condensed-xtra th, table.table-condensed-xtra td {
	padding-left:5px !important;
	padding-right:5px !important;
}

.select2-container--default .select2-selection--single{
	border-color:#e5e5e5 !important;
}

.select2-container--default .select2-selection--multiple {
	border:1px solid #ccd0d4 !important;
}

/* D A T A T A B L E S */

/*.dataTables_wrapper container-fluid dt-bootstrap4 no-footer*/
.dataTables_wrapper{
	padding-left:0px !important;
	padding-right:0px !important;
}

#data-table_processing {
	border:1px solid #e5e5e5;
	background-color:#000000;
	color:#ffffff;
	top:80px;
}


.modal-content {
	-webkit-box-shadow: -10px 0px #348fe2;
	-moz-box-shadow: -10px 0px #348fe2;
	box-shadow: -10px 0px #348fe2;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.swal-button--ok {
	background-color:#000000 !important;
}

.modal-80 {
	max-width:80%;
}

.modal-60 {
	max-width:60%;
}

/* ================= T O O L T I P =================== */

.ui-tooltip {
	padding: 10px 20px;

	background-color: #000000 !important;
	color: white !important;
	font-weight: bold;
	font-size: 12px !important;
	text-transform: none;
	box-shadow: none !important;
	border-radius: 4px !important;
}


.item.item-thumbnail .item-image{
	position: relative;
}
.item.item-thumbnail .item-image img {
	position: absolute;
	top: 50%;
	/* left: 0; */
	margin: auto;
	transform: translateY(-50%) translateX(-50%);
}